altgraph==0.17.2
autopep8==1.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
crypto==1.4.1
cryptography==36.0.1
eight==1.0.1
future==0.18.2
idna==3.3
lxml==4.7.1
Naked==0.1.31
numpy==1.22.2
pandas==1.4.1
pefile==2021.9.3
pycodestyle==2.8.0
pycparser==2.21
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.1
https://github.com/TadaSoftware/PyNFe/archive/master.zip
pyOpenSSL==20.0.1
python-dateutil==2.8.2
pytz==2021.3
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.27.1
schedule==1.1.0
shellescape==3.8.1
signxml==2.9.0
six==1.16.0
toml==0.10.2
urllib3==1.26.8